.THIS .container {
    width: 100%;
    text-align: center;
}

.THIS .gameTitle {
    font-size: 2.5rem;
    /* Tamaño grande de la fuente */
    color: #408b43;
    /* Color del texto */
    text-align: center;
    /* Centrar el texto */
    font-weight: bold;
    /* Fuente en negrita */
    text-shadow: 2px 2px 4px #000000;
    /* Sombra para dar un efecto 3D */
    margin-bottom: 20px;
    /* Espacio debajo del título */
    animation: titleGlow 2s ease-in-out infinite alternate;
}

@keyframes titleGlow {
    from {
        text-shadow: 3px 3px 5px #000000, 0 0 20px #ffdd00, 0 0 30px #ffdd00;
    }

    to {
        text-shadow: 3px 3px 5px #000000, 0 0 25px #b12c04, 0 0 35px #ff5722;
    }
}

.THIS .red {
    background-color: red;
}

.THIS .blue {
    background-color: blue;
}

.THIS .green {
    background-color: green;
}

.THIS .yellow {
    background-color: yellow;
}

.THIS .rectangle {
    width: 100px;
    height: 100px;
    margin: 5px auto;
    transition: all 0.3s ease;
}

.THIS .rectangle:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.THIS .rectangle.activeEffect {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.THIS .botones {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.THIS .button {
    align-items: center;
}

.THIS .customButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.THIS .customButton:hover {
    background-color: #357e38;
    /* Cambia el color de fondo en hover */
}

.THIS .customButton1 {
    background-color: #e33434;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.THIS .customButton1:hover {
    background-color: #9f3c3c;
    /* Cambia el color de fondo en hover */
}

/* Estilo adicional para los textos de puntaje */
.THIS p {
    font-size: 1.1rem;
    /* Ajusta el tamaño de la fuente según necesites */
    color: #3A3A3A;
    /* Color de fuente más estándar */
    margin: 10px 0;
    /* Ajusta el espaciado vertical */
    text-shadow: 1px 1px 2px #767676;
    /* Sombra más suave */
}