.THIS .container {
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    display: flex;
    justify-content: center; /* Centrar el contenido */
    align-items: center; /* Alinear verticalmente */
}

.THIS .botones {
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
}

.THIS .gameTitle {
    font-size: 2.5rem; /* Tamaño grande de la fuente */
    color: #408b43; /* Color del texto */
    text-align: center; /* Centrar el texto */
    font-weight: bold; /* Fuente en negrita */
    text-shadow: 2px 2px 4px #000000; /* Sombra para dar un efecto 3D */
    margin-bottom: 20px; /* Espacio debajo del título */
    animation: titleGlow 2s ease-in-out infinite alternate;
}

@keyframes titleGlow {
    from {
        text-shadow: 3px 3px 5px #000000, 0 0 20px #ffdd00, 0 0 30px #ffdd00;
    }
    to {
        text-shadow: 3px 3px 5px #000000, 0 0 25px #b12c04, 0 0 35px #ff5722;
    }
}

.THIS .customButton.activeEffect {
    transform: scale(1.1); /* Aumenta el tamaño */
    transition: transform 0.3s ease; /* Transición suave */
}

.THIS .button {
    align-items: center;
}

.THIS .customButton {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    margin-left: 10px;

}

.THIS .customButton:hover {
    background-color: #357e38; /* Cambia el color de fondo en hover */
}

.THIS .mostrarSecuencia{
    font-size: 16px;
    font-weight: bold;
}
